<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-custom-primary">
        <span class="navbar-brand unselectable">Meet&Eat</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {# left floating items            #}
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'meetandeat:index' %}">Dashboard{% if request.resolver_match.url_name == 'index' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'meetandeat:profile' %}">Profile{% if request.resolver_match.url_name == 'profile' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
                <li class="nav-item {% if request.resolver_match.url_name == 'tag-view' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'meetandeat:tag-view' %}">Tags{% if request.resolver_match.url_name == 'tag-view' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            </ul>
            {# right floating items            #}
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'meetandeat:logout' %}">Logout{% if request.resolver_match.url_name == 'logout' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'meetandeat:login' %}">Login{% if request.resolver_match.url_name == 'login' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item mr-auto {% if request.resolver_match.url_name == 'create-account' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'meetandeat:register' %}">Register{% if request.resolver_match.url_name == 'register' %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
