.bg-custom-light {
    background-color: #f6f6f6;
    color: #484848;
}

.text-color-light {
    color: #ffffff;
}

.bg-custom-dark {
    background-color: #1F1C22;
}

.text-color-dark {
    color: #484848;
}

.bg-custom-primary {
    background-color: #f8f6f0 !important;
    color: #484848;
}

.bg-custom-secondary {
    background-color: #ffffff;
}

/*### CUSTOM BUTTONS ###*/
.btn-custom-primary {
    color: #ffffff;
    background-color: #5094ed !important;
    border-color: #5094ed;
}

.btn-custom-primary:hover {
    color: #ffffff;
    background-color: #4f7fc9 !important;
    border-color: #4f7fc9;
}

.btn-custom-secondary {
    color: #ffffff;
    background-color: #dd5549 !important;
    border-color: #dd5549;
}

.btn-custom-secondary:hover {
    color: #ffffff;
    background-color: #f95e51 !important;
    border-color: #f95e51;
}

.btn-custom-primary:active {
    background-color: #b05f46 !important;
    border-color: #8f4d39;
}

.btn-custom-primary:focus, .btn-custom-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 127, 98, 0.5);
}

.btn-custom-primary.disabled, .btn-custom-primary:disabled {
    color: #EBE0D7;
    background-color: #AE7E70 !important;
    border-color: #996d60;
}


.btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active,
.show > .btn-custom-primary.dropdown-toggle {
    color: #EBE0D7;
    background-color: #b05f46 !important;
    border-color: #8f4d39;
}

.btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 107, 81, 0.5);
}

/*### CUSTOM FORM*/

.form-control:focus {
    color: #060606;
    background-color: #ffffff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(219, 70, 70, 0.25);
}


/*### CUSTOM NAVBAR ###*/

.navbar-dark .navbar-brand {
    color: #dd5549;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #dd5549;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #EBE0D7;
}

.navbar .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #dc3545;
    text-decoration: #dc3545;
}

.navbar-dark .navbar-toggler {
    color: #484848;
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #EBE0D7;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #EBE0D7;
}

.navbar-dark .navbar-brand {
    color: #EBE0D7;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #EBE0D7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #dd5549;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #dd5549;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #dd5549;
}

.navbar-dark .navbar-toggler {
    color: #484848;
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #EBE0D7;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #dd5549;
}

.spacing {
    height: 1em;
}


.login-information-text {
    margin-top: 10%;
    padding: 30px;
}

.login-form {
    max-width: 300px;
}

.login-container {
    max-width: 1000px;
}

.form-error-login {
    color: #ce181e;
    border: #dc3545;
}

/*##### Profile STYLES #####*/
#profile .details-tile-header {
    font-weight: bold;
}

#profile .details-tile {
    margin-bottom: 10px;
}

#profile label {
    font-weight: 500;
}

#profile .profile-img img {
    max-width: 220px;
    max-height: 260px;
}

/*#########################*/

/*##### Event Styles ####*/
.datefield {

    max-width: 70px;
    background-color: #efeeee;
    /*margin-top: -16px;*/
    /*margin-bottom: -16px;*/

    color: #ff8e00;

}

.headline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-col {
    max-width: 85px;
}

.btn-custom-add {
    color: #34a853;
    font-size: 48px;
    background-color: #f6f6f6;
    border-radius: 30px;
}

.btn-custom-add:hover {
    color: #22b23b;
    text-decoration: none;
    border-radius: 5px;


}

.btn-custom-leave {
    color: #dd5549;
    font-size: 48px;
    background-color: #f6f6f6;
    border-radius: 30px;
    user-select: none;
}

.btn-custom-leave:hover {
    color: #f95e51;
    text-decoration: none;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.btn-custom-dots {
    font-size: 36px;
    user-select: none;
    cursor: pointer;
}

.btn-custom-dots:hover {
    background-color: #f6f6f6;
    border-radius: 5px;
}

.btn-custom-dots-dark {
    font-size: 36px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.btn-custom-dots-dark:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.text-custom-hyperlink {
    color: #484848;

}

.text-custom-hyperlink:hover {
    color: #dd5549;
}

.text-custom-hyperlink:active {
    color: #dd5549;
}

/*####################*/

/*####COMMENT STYLES##### */

.col-right-comment {
    margin-top: -16px;
    margin-bottom: -16px;
    margin-right: -5px;
    background-color: #efeeee;
}

.col-left-comment {
    margin-top: -16px;
    margin-bottom: -16px;
    margin-left: -5px;
    background-color: #efeeee;
}

.col-send-comment {
    max-width: 100px;
}

a {
    color: #484848;
}

a:hover {
    color: #dc3545;
}

a:active {
    color: #dc3545;
    text-decoration: #dc3545;
}

.col-right-mod {
    max-width: 130px;
}

.dropdown-hover:hover .dropdown-menu-hover{
    display: block;
}


/*#########################*/

/*##### ALERT ERROR #####*/
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-error hr {
    border-top-color: #f1b0b7;
}

.alert-error .alert-link {
    color: #491217;
}

/*#######################*/


.warning-test-version {
    color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.warning-test-version span {
    display: block;
    text-align: center;
}

/*##### CUSTOM FILE INPUT #####*/
/*both styles below are used to make cursor pointer*/
.custom-file-input, .custom-file {
    cursor: pointer;
}

.custom-file-input {
    text-indent: -999px;
}

.custom-file-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.custom-file-input:active + .custom-file-label{
    color: #060606;
    background-color: #ffffff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(219, 70, 70, 0.25);
}

.profile-img-header {
    /*display: table;*/
    max-width: 36px;
    max-height: 36px;
    border-radius: 10%;
}

.profile-img-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.event-details-img {
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
}


.sticky-offset{
    top: 72px;
}

.sticky-offset-production{
    top: 92px;
}

/*very important for proper functionality of dropdowns*/
header.sticky-top {
    z-index: 1021 !important;
}

@media (min-width: 768px) {
            div.h-md-100 {
                height: 100vh !important;
            }

            div.pos-abs-md {
                position: absolute !important;
            }
        }

.event-details-participants-dropdown {
    left: auto !important;
  right: 0 !important;
}