<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input class="form-control {% if form.old_password.errors %}is-invalid{%  endif %}"
            id="oldPassword" type="password" placeholder="Old Password"
            name="old_password">
        {% if form.old_password.errors %}<div class="invalid-feedback">{{ form.old_password.errors }}</div>
        {%  endif %}
    </div>
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input class="form-control {% if form.new_password1.errors %}is-invalid{%  endif %}"
            id="newPassword" type="password" placeholder="New Password"
            name="new_password1" >
        {% if form.new_password1.errors %}<div class="invalid-feedback">{{ form.new_password1.errors }}</div>
        {%  endif %}
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input class="form-control {% if form.new_password2.errors %}is-invalid{%  endif %}"
            id="confirmPassword" type="password" placeholder="Confirm Password"
            name="new_password2">
        {% if form.new_password2.errors %}<div class="invalid-feedback">{{ form.new_password2.errors }}</div>
        {%  endif %}
    </div>


    <button type="submit" class="btn btn-custom-primary" name="change-password">Change password</button>

</form>