{% extends "base.html" %}
{% load tz %}

{% block css %}
{{ form.media.css }}
<style>
    .select2-selection__rendered {
        line-height: 2em !important;
    }
</style>
{% endblock css %}

{% block main %}
<div class="container">
    <h2 class="mb-3">{% block formTitle %}{% endblock %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control form-control-lg {% if form.title.errors %}is-invalid{%  endif %}"
                id="title" name="title" maxlength="50" {% if form.title.value %}value="{{ form.title.value}}"
                {% endif %} required>
            {% if form.title.errors %}<div class="invalid-feedback">{{ form.title.errors }}</div>{%  endif %}
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control form-control-lg {% if form.description.errors %}is-invalid{%  endif %}"
                id="description" rows="3" maxlength="160" placeholder="Max. 160 symbols"
                name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
            {% if form.description.errors %}<div class="invalid-feedback">{{ form.description.errors }}</div>
            {%  endif %}
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="location">Location:</label>
                <input type="text"
                    class="form-control form-control-lg {% if form.location.errors %}is-invalid{%  endif %}"
                    id="location" name="location" maxlength="50"
                    {% if form.location.value %}value="{{ form.location.value}}" {% endif %}>
                {% if form.location.errors %}<div class="invalid-feedback">{{ form.location.errors }}</div>{%  endif %}
            </div>
            <div class="form-group col-md-5">
                <label for="participants_number">Number of Persons:</label>
                <input type="number" id="participants_number" class="form-control form-control-lg"
                    name="participants_number" min="2"
                    max="{% if maxPersonNumber %}{{ maxPersonNumber }}{% else %}16{% endif %}"
                    value="{% if form.participants_number.value %}{{ form.participants_number.value }}{% else %}2{% endif %}">
                {% if form.participants_number.errors %}<div class="invalid-feedback">{{ form.participants_number.errors }}</div>
                {%  endif %}
            </div>
        </div>
        <div class="form-row">
             <div class="form-group col-md-4">
                <label for="date">Date:</label>
                <input type="date"
                    id="date" name="date"
                       class="form-control form-control-lg {% if form.date.errors %}is-invalid{%  endif %}"
                    {% if form.date.value %}value="{{form.date.value | date:"d/m/Y" }}"
                    {% endif %}  required>
                {% if form.date.errors %}<div class="invalid-feedback">{{ form.date.errors }}</div>
                {%  endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="time">Time:</label>
                <input type="time"
                    class="form-control form-control-lg {% if form.time.errors %}is-invalid{%  endif %}"
                    id="time" name="time"
                    {% if form.time.value %}value="{{form.time.value | date:"G:i"}}"
                    {% endif %} required>
                {% if form.time.errors %}<div class="invalid-feedback">{{ form.time.errors }}</div>
                {%  endif %}
            </div>
            <div class="form-group col-md-5">
                <label for="tags">Tags:</label>
                <!-- do not render manually -->
                {{ form.tags }}
                {{ form.tags.errors }}
            </div>
        </div>
        <button type="submit" class="btn btn-custom-primary">Save Event</button>
    </form>
</div>
{{ form.media.js }}
{% endblock %}
