{% extends "base.html" %}
{% load tz %}
{% block main %}
<div class="container">
    <h2 class="mb-3">{% block formTitle %}{% endblock %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control form-control-lg {% if form.title.errors %}is-invalid{%  endif %}"
                id="title" name="title" maxlength="15" {% if form.title.value %}value="{{ form.title.value}}"
                {% endif %} required>
            <label for="description">Description:</label>
            <br><small>Tell us more about your suggested Tag. It will help our approving process.</small>
            <input type="text" class="form-control form-control-lg {% if form.description.errors %}is-invalid{%  endif %}"
                id="description" name="description" maxlength="160" {% if form.description.value %}value="{{ form.description.value}}"
                {% endif %} required>
            <small>Submissions have to be approved by an administrator before they can be used for events.</small>



            {% if form.non_field_errors %}
              {% for err in form.non_field_errors %}
              <h2 style="color:red;">{{ err }}</h2>
              {% endfor %}
            {% endif %}

            {% if form.title.errors %}<div class="invalid-feedback">Give a correct name</div>{%  endif %}
            {% if form.description.errors %}<div class="invalid-feedback">Give a correct description</div>{%  endif %}
        </div>
        <button type="submit" class="btn btn-custom-primary">Submit Tag</button>
    </form>
</div>
{% endblock %}
