{% for comment in comment_list reversed %}
{% if comment.author == request.user %}
<div class="container rounded bg-custom-secondary p-3 my-4">
    <div class="row">
        <div class="col">
            <div class="container">
                {{ comment.text }}
            </div>
        </div>
        <div class="col-auto col-right-comment border-left">
            <div class="container">
                <div class="row justify-content-md-center pt-1">
                    {% if comment.author.profilePicture %}
                    <div class="img "><img src="{{ comment.author.profilePicture.url }}" style="max-height: 50px; max-width: 80px;" alt="user pic"></div>
                    {% endif %}
                </div>
                <div class="row pt-1 justify-content-md-center">{{ comment.author }}</div>
                <div class="row border-top pt-1 justify-content-md-center" >
                    <small>{{ comment.datetime | date:"d.m G:i"}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container rounded bg-custom-secondary p-3 my-4">
    <div class="row">
        <div class="col-auto col-left-comment border-right">
            <div class="container">
                <div class="row justify-content-md-center pt-1">
                    {% if comment.author.profilePicture %}
                    <div class="img "><img src="{{ comment.author.profilePicture.url }}"  style=" max-height: 50px; max-width: 80px;" alt="user pic"></div>
                    {% endif %}
                </div>
                <div class="row pt-1 justify-content-md-center">{{ comment.author }}</div>
                <div class="row border-top pt-1 justify-content-md-center" >
                    <small>{{ comment.datetime |date:"d.m G:i"}}</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                {{ comment.text }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endfor%}
