{% for comment in comment_list reversed %}
{% if comment.author == request.user %}
<div class="container rounded bg-custom-secondary p-3 my-4">
    <div class="row">
        <div class="col">
            <div class="container">
                {{ comment.text }}
            </div>
        </div>
        <div class="col col-right-comment border-left bg-custom-secondary">
            <div class="container">
                <!-- TODO: <div class="row">{{ comment.profilepciture }}</div> -->
                <div class="row pt-1">{{ comment.author }}</div>
                <div class="row border-top pt-1">
                    <small>{{ comment.datetime |date:"d.m G:i"}}</small></div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container rounded bg-custom-secondary p-3 my-4">
    <div class="row">
        <div class="col col-left-comment border-right bg-custom-secondary">
            <div class="container">
                <!-- TODO: <div class="row">{{ comment.profilepciture }}</div> -->
                <div class="row pt-1">{{ comment.author }}</div>
                <div class="row border-top pt-1">
                    <small>{{ comment.datetime |date:"d.m G:i"}}</small></div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                {{ comment.text }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endfor%}
