{% extends "base.html" %}
{% load static %}
{% load settings_value %}
{% settings_value "DECOUPLE_CONFIGURATION" as environment%}
{% block title %}Dashboard{% endblock %}
{% block main %}
<div class = "container rounded mb-4 bg-custom-light sticky-top {% if environment == "development" %}sticky-offset{% else %}sticky-offset-production{% endif %}">
  <form method="post">
  <div class="row">
      <div class="col text-right">
        <br>
              {% csrf_token %}
              {{form.tags}}
      </div>
    </div>
    <br>
    <div class = "row">
      <div class = "col">
        {{ form.date }}
      </div>
      <div class = "col">
        {{ form.time }}
      </div>
      <br>
      <div>
        <button class="btn btn-custom-primary mb-2 " name="submit" type="submit">
         Search
        </button>
      </div>
    </div>
</form>
</div>



    {% block events %}
    {% endblock events %}

{% endblock %}
