{% extends "base.html" %}
{% load static %}

{% block title %}Event Details{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'meetandeat:index' %}" class="btn btn-primary">Back to Dashboard</a>
        </div>
        <div class="col text-right">
            <a href="#" class="btn btn-primary">Join Event</a>
            <a href="{% url 'meetandeat:edit-event' event.pk %}" class="btn btn-info">Edit Event</a>
        </div>
    </div>
    <div class="container border border-dark rounded bg-light p-3 my-4">
        <div class="row">
            <div class="col">
                <h2>{{event.title}} </h2>
            </div>
            <div class="col text-right">
                <small>Creator: <a href="#">{{event.user}}</a></small><br>
                <small>{{event.participants_number}} Participants</small>
            </div>
        </div>
        <small>{{event.description}}</small><br>
        <hr>
        <p>Place: {{event.location}}</p>
        <p>Time: {{event.datetime | date:"d.m.Y G:i"}}</p>
        <hr>

        <form method="post">
        {% csrf_token %}
          <div class="form-group">
            <label for="text">Comment:</label>
              <input type="text" class="form-control form-control-lg {% if form.text.errors %}is-invalid{%  endif %}" id="text" name="text" maxlength="160" {% if form.text.value %}value="{{ form.text.value}}"{% endif %} required>
              {% if form.text.errors %}<div class="invalid-feedback">Invalid</div>{%  endif %}

          </div>
          <button type="submit" class="btn btn-primary">Post</button>

        </form>
    </div>
</div>
{% endblock %}
