{% extends 'meetandeat/dashboard.html' %}
{% load static %}
{% load tz %}

{% block css %}
{{ form.media.css }}
<style>
    .select2-selection__rendered {
        line-height: 2em !important;
    }
</style>
{% endblock css %}
{% block events %}

{% if event_list %}
{% for event in event_list %}
{% if  event.visible == True %}
{% if  event.matching >= 30 %}
{% include "meetandeat/event_tile.html" %}



{% else %}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
            <div class="container border border-dark rounded bg-light p-3 my-4">
                <p>No Results found</p>
            </div>
{% endif %}


{{ form.media.js }}

{% endblock %}
