<div class="container container-no-border border-0 rounded my-4 bg-custom-secondary ">
    <div class="row flex-nowrap">
        <div class="col-2 datefield rounded-left border-right p-3 ">
            <div class="row pl-0 px-3">
                <h3>{{ event.date |  date:"d"}}</h3>
            </div>
            <div class="row  px-3" style="margin-top: -8px">
                <h4>{{ event.date|  date:"M"}}</h4>
                <div class="border-bottom border-dark" style="padding-left: 1.25rem; padding-right: 1.25rem" >

                </div>
            </div>

            <div class="row pt-1 px-3" style="text-align: center">{{ event.time | time:"G:i"}}</div>
        </div>
        <div class="col headline p-3">
            <div class="row">
                <div class="col pb-4">
                    {% if user in event.eventParticipants.all %}
                    <h3 class="text-overflow-ellipsis"><a class="text-custom-hyperlink"
                            href="{% url 'meetandeat:event-view' event.pk %}">{{ event.title }}
                            <small>({{ event.eventParticipants.count }}/{{ event.participants_number }})</small></a>
                    </h3>
                    {% else %}
                    <h3>{{ event.title }}
                        <small>({{ event.eventParticipants.count }}/{{ event.participants_number }})</small></h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
              <div class= "container tag-group">
                <div class="row">
                  <div class = "col">
                    <small>
                        {% for t in event.tags.all %}
                        <span class= "container tag-box" > {{t.title}}</span>
                        {% endfor %}
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="spacing"></div>
            <div class="spacing"></div>
            <div class="row pt-1">

                <div class="col "><h5>
                  <span class="material-icons">room</span>{{ event.location }}</h5></div>
            </div>
            {% if mod_view == True %}
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-custom-primary mr-2 " data-target="#hideModal" data-toggle="modal"
                                type="button">Hide
                        </button>
                    <button class="btn btn-custom-secondary mr-2 " data-target="#unreportModal" data-toggle="modal"
                                type="button">Unreport
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if mod_view != True %}
        <div class="col-2 right-col p-3">
            <div class="row dropdown pb-2" style="margin-left: 6px">
                <a aria-expanded="false" aria-haspopup="true" class="material-icons btn-custom-dots"
                    data-toggle="dropdown" id="dropdownMenuLink" role="button">
                    more_horiz
                </a>
                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                    {% if event.user == user %}
                    <a class="dropdown-item" href="{% url 'meetandeat:edit-event' event.pk %}">Edit
                        Event</a>
                    {% endif %}
                    {% if user in event.userReportings.all %}
                    <span class="dropdown-item">Already reported!</span>
                    {% else%}

                    <button type="button" class="dropdown-item" data-toggle="modal"
                        data-target="#reportModal"
                    data-url="{% url "meetandeat:report-event" event.pk %}">Report</button>

                    {% endif %}
                </div>
            </div>

            <div class = "row">
              <div class = "row">
                <div class="col text-right">
                {% if event.matching < 101 %}
                    <div class="spacing"></div>
                    <span style="color: #dc3545"><span class="material-icons">whatshot</span><b>{{event.matching}}%</b></span>
                    <div class="spacing"></div>
                    {%else%}
                  <div class="spacing"></div>
                  <div class="spacing"></div>
                  <div class="spacing"></div>
                {% endif %}
                </div>
              </div>
            </div>

            <div class="row py-3 py-md-2 ">
                <div class="col">
                    {% if user in event.eventParticipants.all %}
                    <a class="material-icons btn-custom-leave"
                        href="{% url 'meetandeat:leave-event' event.pk %}">remove</a>
                    {% else %}
                    {% if not event.is_full %}
                    <a class="material-icons btn-custom-add"
                        href="{% url 'meetandeat:join-event' event.pk %}">add</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
