{% extends 'meetandeat/mod_dashboard.html' %}
{% load static %}
{% load tz %}

{% block events %}
    {% for event in event_list %}
        {% with True as mod_view %}
            {% include "meetandeat/event_tile.html" %}

        {% endwith %}


    <div aria-hidden="true" aria-labelledby="hideModalLabel" class="modal fade"
         id="hideModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hideModalLabel">Warning</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'meetandeat:modHide' event.pk %}" method="post" name="form"
                  style="float:left;">
                    {% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure that you want to hide this event?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-custom-secondary" data-dismiss="modal" type="button">Close
                    </button>
                    <input class="btn btn-custom-primary" type="submit" value="Hide"/>
                </div>
                 </form>
            </div>
        </div>
    </div>



    <div aria-hidden="true" aria-labelledby="unreportModalLabel" class="modal fade"
         id="unreportModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="unreportModalLabel">Warning</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'meetandeat:modUnreport' event.pk %} " method="post" name="form">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to remove the reported state from this event?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-custom-secondary" data-dismiss="modal" type="button">Close
                    </button>
                    <input class="btn btn-custom-primary" type="submit" value="Unreport"/>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}