{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}Your events{% endblock %}

{% block main %}
<div class="container bg-custom-primary rounded p-0 p-md-3 my-4">


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active text-custom-hyperlink" data-toggle="tab" href="#own">Own events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-custom-hyperlink" data-toggle="tab" href="#joined">Joined events</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="own">
    {% if own_event_list %}
    {% for event in own_event_list %}
    {% if event.visible == True %}
    {% include "meetandeat/event_tile.html" %}
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="container border border-dark rounded bg-light p-3 my-4">
                <p>No Results found</p>
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="joined">
            {% if joined_event_list %}
            {% for event in joined_event_list %}
            {% if event.visible == True %}
            {% include "meetandeat/event_tile.html" %}
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="container border border-dark rounded bg-light p-3 my-4">
                <p>No Results found</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include "meetandeat/forms/report-form-modal.html" %}


{% endblock %}
