{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <h2>Reset your password</h2>
            <p>Enter your username to request a link for password reset</p>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text"
                       id="username"
                       class="form-control form-control-lg {% if form.username.errors %}is-invalid{%  endif %}"
                       name="username"

                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                {% if form.username.errors %}<div class="invalid-feedback">{{ form.username.errors }}</div>
                {%  endif %}
            </div>
            <button type="submit" class="btn btn-custom-primary">Request Link</button>

        </form>
    </div>
{% endblock main %}