{% extends "base.html" %}
{% block main %}
<div class="container border border-dark rounded bg-light p-3 my-4 login-container">
    {% if messages %}
         <div>
            <ul class="messages">
                {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                        {{msg.message}}
                    </div>
                </li>
                {% endfor %}
            </ul>
         </div>
    {% endif %}
    <form method='POST'>
      {% csrf_token %}
      <fieldset class='form-group'>
        <legend class='border-bottom mb-4'>Create Your Account</legend>
        {{ form.as_p }}
      </fieldset>
      <div class='form-group'>
        <button class='btn btn-outline-info' type='submit'>Sign Up</button>
      </div>
    </form>
    <div class='boreder-top pt-3'>
      <small class='text-muted'>
        Already have an account? <a class='ml-2' href="{% url 'meetandeat:login' %}">Log In</a>
      </small>
    </div>
    </div>
{% endblock %}
