{% extends "base.html" %}
{% load static %}

{% block title %}Tag Details{% endblock %}
{% block main %}

<!-- TODO - better design -->
<div class="container border border-dark rounded bg-light p-3 my-4">
    <div class="row">
        <div class="col">
            <h1>Tag Details</h1>
            <hr>
            <p>Tag: {{ tag.title }}</p>
            <p>Description: {{ tag.description }}</p>
            <p>Submitted by {{ tag.user }}</p>
            <p>Status:
                {% if tag.approved %}
                Approved
                {% else %}
                Pending
                {% endif %}
            </p>
            <a class="btn btn-warning" href="{% url 'meetandeat:edit-tag' tag.pk %}">Disapprove Tag</a>
            {% if tag.approved != True %}
            <a class="btn btn-success" href="{% url 'meetandeat:approve-tag' tag.pk%}">Approve Tag</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
