{% extends "base.html" %}
{% load static %}

{% block title %}Tag Details{% endblock %}
{% block main %}

<!-- TODO - better design -->
<div class="container bg-custom-primary rounded p-3 my-4">
    <h1>Tag Details</h1>
    <div class="row">
        <div class="container bg-custom-secondary rounded p-3 my-4">
        <div class="col">
            <h2> {{ tag.title }}  </h2>
            <p>Status:
                {% if tag.approved %}
                Approved
                {% else %}
                Pending
                {% endif %}
            </p>
            <a class="btn btn-custom-secondary" href="{% url 'meetandeat:edit-tag' tag.pk %}">Edit Tag</a>
            {% if tag.approved != True %}
            <a class="btn btn-custom-primary" href="{% url 'meetandeat:approve-tag' tag.pk%}">Approve Tag</a>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}